@use 'variables';

section.work-section {
	padding: 5em 0;

	header {
		text-align: center;

		h1 {
			color: variables.$primary-color;
			font-size: 2rem;
		}

		h3 {
			color: variables.$light-color;
		}
	}

	main.projects {
		margin-top: 2em;
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		padding: 1em;

		article {
			max-width: 600px;
			width: 100%;
			margin: 1.5em 0;
			height: auto;
			border-radius: 10px 10px 0 0;
			color: variables.$light-color;
			position: relative;

			img {
				border-radius: 10px 10px 0 0;
				display: block;
				max-width: 100%;
				height: auto;
			}

			div.project-title {
				height: 90px;
				display: flex;
				flex-direction: row;
				justify-content: start;
				align-items: center;

				span.line {
					max-width: 100px;
					margin: 0;
					margin-right: 2em;
				}
			}

			div.overlay {
				background-color: #000000;
				border-radius: 10px 10px 0 0;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: calc(100% - 90px);
				opacity: 0;
				transition: 0.5s ease-in-out;
			}

			figcaption {
				position: absolute;
				top: 40%;
				left: 50%;
				transform: translate(-50%, -50%);
				text-align: center;
				font-size: 1.25rem;
				display: flex;
				flex-direction: column;
				align-items: center;
				opacity: 0;
				transition: 0.5s ease-in-out;
			}

			&:hover figcaption {
				opacity: 1;
				z-index: 1;
			}

			&:hover div.overlay {
				opacity: 1;
			}
		}
	}
}
